.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
/dags/smash-conflation-validator.py
/dags/data/*
*.xml
*.1
*.bkp
*.meta